<h2>New Combo</h2>

<%= form_for @combo, url: combos_path, html: { multipart: true } do |form| %>
  <%= form.label :character %>
  <%= form.select :character , ['Ken', 'Ryu'] %> <br>

  <%= form.label :difficulty %>
  <%= form.select :difficulty , ['Beginner', 'Intermediate', 'Advanced'] %><br>

  <%= form.label :damage %>
  <%= form.text_field :damage %><br>

  <%= form.label :command %>
  <%= form.text_field :command %><br>

  <%= form.file_field :image %><br><br>

  <%= form.submit 'Create Post!' %>
<% end %>


<p><%= link_to "Go back to all Combos", combos_path %></p>

