<h1>show</h1>


<ul>
  <li><p><%= @combo.character %></p></li>
  <li><p><%= @combo.damage %></p></li>
  <li><p><%= @combo.difficulty %></p></li>
  <li><p><%= @combo.command %></p></li>
  <%= image_tag(@combo.image.url) %>

</ul>

<p><%= link_to "Edit this Combo", edit_combo_path(@combo) %></p>

<br>

<p><%= link_to "Go back to all Combos", combos_path %></p>
